body {
  font-family: sans-serif;
  font-size: 100%;
  margin: 200px;
}

.image img {
  width: 180px;
  position: absolute;
  float: right;
  right : 230px;
  top: 120px;
  border : 1px solid grey;
  border-radius: 10px;
}

.pres {
  text-align: center;
}

.info p {
  font-size: 100%;
  font-weight: bold;
  color: #5E5F6A;
  text-align: center;
}

.pres h1 {
  color: #202964;
  font-size: 150%;
  text-align: center;
}

.pres p {
  color: #5E5F6A;
  font-size: 70%;
  font-weight: bold;
  text-align: center;
}

h2 {
  color: #5E5F6A;
  font-size: 150%;
  border: 4px dotted grey;
  border-radius: 4px;
}

div p {
  font-family: sans-serif;
  font-size: 120%;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}

li {
  list-style-type: none;
  color: #5E5F6A;
}

a {
  color: #5E5F6A;
  font-weight: bold;
}

p {
  color: #5E5F6A;
}
